<% flash.each do |message_type, message| %>
      <%= message %>
<% end %>

<p>Title:<%= @book.title %></p>
<p>Body:<%= @book.body %></p>

<%= link_to "Edit", href = "/books/#{@book.id}/edit" %> | <%= link_to "Back", href = "/books" %>